<div class="column-container" (dragover)="allowDrop($event)" (drop)="onDrop($event)">
    <div class="title-container">
        <mat-form-field>
            <input matInput [(ngModel)]="title" placeholder="Tytuł sekcji">
        </mat-form-field>
    </div>
    <div class="thumbnails-container">
        <ng-container *ngFor="let slide of slides; let i = index">
            <dd-slide-thumbnail [slide]="slide" [columnID]="id"></dd-slide-thumbnail>
            <dd-slide-divider *ngIf="slides.length !== i + 1"></dd-slide-divider>
        </ng-container>
    </div>
</div>

