@import "./src/assets/styles/base.scss";

.column-container {
    @include flex(flex, flex-start, center, column);
    @include size(200px, 100%);
    min-height: calc(100vh - 180px);
    z-index: 1;

    .title-container {
        position: relative;
        width: 100%;

        mat-form-field {
            width: 100%;
        }

        mat-icon {
            @include mat-icon-size(25px);
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;

            &:hover {
                cursor: pointer;
                color: $danger;
            }
        }
    }

    &.drag-over {
        background: darken($white, 15%);
    }
}
