@import "./src/assets/styles/base.scss";

.column-container {
    @include flex(flex, flex-start, center, column);
    @include size(200px, 100%);
    min-height: calc(100vh - 180px);
    background: #28a745;

    .title-container {
        width: 100%;

        mat-form-field {
            width: 100%;
        }
    }
}
