<div (dragleave)="onDragLeave()"
     (dragover)="allowDrop($event)"
     (drop)="onDrop($event)"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     [ngClass]="isElementOnDragOver ? 'drag-over' : ''"
     class="column-container">
    <div class="title-container">
        <mat-icon (click)="removeSection()" *ngIf="isMouseEnter">close</mat-icon>
        <mat-form-field>
            <input [(ngModel)]="title" matInput placeholder="Tytuł sekcji">
        </mat-form-field>
    </div>
    <div class="thumbnails-container">
        <ng-container *ngFor="let slide of slides; let i = index">
            <dd-slide-thumbnail [columnID]="id" [slide]="slide"></dd-slide-thumbnail>
            <dd-slide-divider *ngIf="slides.length !== i + 1" [columnID]="id"
                              [dividerSibilings]="{ topID: i, bottomID: i + 1 }"></dd-slide-divider>
        </ng-container>
    </div>
</div>

