@import "./src/assets/styles/base.scss";

.no-presentation-container {
    @include flex(flex, center, center, column);
    @include size(225px, 135px);
    border: 1px dotted $secondary;
    border-radius: $border-radius-md;
    cursor: pointer;
}
